
@model IEnumerable<webapp.Models.Product>
<p id="createNew">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Short name
        </th>
        <th>
            Full name
        </th>
        <th>
            Shelf number
        </th>
        <th>
            Weight
        </th>
        <th>
            Date in
        </th>
        <th>
            Date out
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.ShortName
            </td>
            <td>
                @item.FullName
            </td>
            <td>
                @item.ShelfNumber
            </td>
            <td>
                @item.Weight
            </td>
            <td>
                @item.DateIn
            </td>
            <td>
                @item.DateOut
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
@Scripts.Render("~/scripts/jquery-3.3.1.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")